/* login.css */

body,
.loginFormContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.card-description {
  font-size: 14px;
  color: #666;
}
.card-content {
  padding: 20px;
  width: 130%;
}

.card-header {
  text-align: center;
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-footer {
  text-align: center;
  padding: 10px 20px;
  border-top: 1px solid #eee;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.register-link {
  color: #007bff;
  text-decoration: underline;
}

.register-link:hover {
  text-decoration: underline;
  font-weight: bold;
}
